/* This file is for your main application css. */

/* @import "./phoenix.css"; */

.help-block {
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 47px;
  left: 0px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}